.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-button{
  height: 48px;
}

.mat-button ::ng-deep .mat-button-wrapper {
  font-size: 22px;
  font-weight: bold;
}

.page-content{
  padding: 30px;
}
